<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2">
    <title>Intrsion Detection System</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Searching for Intruders.....</h2>
    {% if data %}
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th> Network Layer</th>
                    <th>Source Port</th>
                    <th>Destination Port</th>
                    <th>Source IP Address</th>
                    <th>Destination IP Address</th>
                    <th>Highest Layer</th>
                    <th>Organization</th>

                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="text-align: center;">No data received yet. make sure to run main.py</p>
    {% endif %}
</body>
</html>
